<ion-header [translucent]="true">
  <ion-toolbar [style]="'--background: var(--tp-color);'">
    <ion-title [style]="'--color: var(--txt-color-tp);'">Restablecer contraseña</ion-title>
    <ion-button (click)="volver()" slot="end" style="margin-right: 10px; color: #fff; text-decoration: none;">
      <ion-icon name="arrow-back-outline"></ion-icon>
       Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">password</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="separator">
    <div style="background-color: #EEEEEE; height: 57px; margin: 0px 0;">
      <p style="margin: 0;padding-top: 20px ;padding-left: 21px; color: #AEAEAE;">Recuperar su contraseña</p>
    </div>
  </div>

  <ion-card class="card-blank">
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese su usuario" [(ngModel)]="username"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nueva contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese su contraseña nueva" [(ngModel)]="newPassword"></ion-input>
        </ion-item>

        
        <br>
        <div>
          <ion-button expand="block" color="warning" (click)="recoverPassword()">Recuperar contraseña</ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
