<ion-header [translucent]="true">
  <ion-toolbar [style]="'--background: var(--tp-color);'">
    <ion-title [style]="'--color: var(--txt-color-tp);'">Registrar asistencia</ion-title>
    <ion-button (click)="volver()" slot="end" style="margin-right: 10px; color: #fff; text-decoration: none;">
      <ion-icon name="arrow-back-outline"></ion-icon>
       Volver</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">clase-registrada</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="scanner-sheel" [hidden]="!hasDevices">
      <select (change)="onDeviceSelectChange()">
        <option value="" [selected]="!currentDevice">No device selected</option>
        <option *ngFor="let device of availableDevices" [value]="device.deviceId" [selected]="currentDevice && device.deviceId === currentDevice.deviceId">{{ device.label }}</option>
      </select>
    
      <zxing-scanner #scanner start="true" [device]="currentDevice" (scanSuccess)="handleQrCodeResult($event)" [formats]="formats"></zxing-scanner>
        
      
      <!-- SEPARADOR DEL CONTENIDO -->
        <div id="separator" *ngIf="qrResultString">
          <div style="background-color: #F5F7FA; height: 19px; margin: 10px 0;"></div>
        </div>

         <!-- TOMAR UNA FOTO -->
         <div class="center-content" *ngIf="qrResultString">
            <ion-button expand="block" color="primary" (click)="tomarSelfie()">
              <ion-icon name="camera-outline" style="margin-right: 10px;"></ion-icon>
              Tomar Selfie</ion-button>
            <img [src]="selfieImage" *ngIf="selfieImage" alt="Selfie">
          </div>

          <!-- SEPARADOR DEL CONTENIDO -->
          <div id="separator" *ngIf="qrResultString">
            <div style="background-color: #F5F7FA; height: 19px; margin: 10px 0;"></div>
          </div>


      <section class="results" >
        <h3>Asistencia registrada:</h3>
        <ion-card *ngFor="let u of usuariosStorage" >
          <ion-card class="card-blank">
    
            <ion-card-header>
              <ion-card-title><strong>Información adicional de la clase 🙎</strong></ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <div class="div">
                <ion-list>
                  <ion-item>
                    <ion-input readonly label=""> {{qrResultString}} </ion-input>
                  </ion-item>
                </ion-list>
              </div>
            </ion-card-content>
          </ion-card>
        
          <div id="separator">
            <div style="background-color: #F5F7FA; height: 19px; margin: 10px 0;"></div>
          </div>
        
        
          <ion-card class="card-blank">
            <ion-card-header>
              <ion-card-title><strong>Información del Alumno 🙎</strong></ion-card-title>
            </ion-card-header>
            <ion-card-content>
             <div>
              <ion-list>
                <ion-item>
                  <label for="">Nombre Alumno:</label>
                  <ion-input readonly label=""> {{u.nombre}} </ion-input>
                </ion-item>
        
                <ion-item>
                  <label for="">Rut Alumno:</label>
                  <ion-input readonly label=""> {{u.rut}} </ion-input>
                </ion-item>

                <ion-item>
                  Latitud: {{ latitude }}
                </ion-item>
        
                <ion-item>
                  Longitud: {{ longitude }}
                </ion-item>
              
                <!-- <ion-item>
                  <label for="">TimeStamp:</label>
                  <ion-input readonly></ion-input>
                </ion-item> -->
              </ion-list>
             </div>
            </ion-card-content>
          </ion-card>          
        </ion-card>
      </section>
    </div>
  </div>


  <!-- INFORMACIÓN ADICIONAL DE LA CLASE -->

</ion-content>