<ion-header [translucent]="true">
  <ion-toolbar [style]="'--background: var(--tp-color);'">
    <ion-title [style]="'--color: var(--txt-color-tp);'">Regístrate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="separator">
    <div style="background-color: #EEEEEE; height: 57px; margin: 0px 0;">
      <p style="margin: 0;padding-top: 20px ;padding-left: 21px; color: #AEAEAE;">Introduzca su información</p>
    </div>
  </div>

  <ion-card class="card-blank">
    <ion-card-content>
      <ion-list>
        <!-- Usuario -->
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input type="text" placeholder="Ingrese su usuario" [(ngModel)]="username"></ion-input>
        </ion-item>

        <!-- Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" placeholder="Ingrese su nombre" [(ngModel)]="name"></ion-input>
        </ion-item>

        <!-- Apellido -->
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" placeholder="Ingrese su apellido" [(ngModel)]="last_name"></ion-input>
        </ion-item>

        <!-- Rut -->
        <ion-item>
          <ion-label position="floating">Rut</ion-label>
          <ion-input type="text" placeholder="Ingrese su rut" [(ngModel)]="rut"></ion-input>
        </ion-item>

        <!-- Carrera -->
        <ion-item>
          <ion-label position="floating">Carrera</ion-label>
          <ion-input type="text" placeholder="Ingrese su carrera" [(ngModel)]="career"></ion-input>
        </ion-item>

        <!-- Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese su contraseña" [(ngModel)]="password"></ion-input>
        </ion-item>


        <br>
        <div>
          <ion-button expand="block" color="warning" (click)="register()">Registrarse</ion-button>
        </div>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
